<div>
    <div class="card">
        <div class="card-header">Otras rutas</div>
        <div class="card-body">
            <h3>Secciona una</h3>
            <ul>
                <li>
                    <a routerLink="primero">Primera</a>

                </li>
                <li>
                    <a routerLink="segundo">Segunda</a>

                </li>

                <li>
                    <a routerLink="tercero">Tercera</a>

                </li>



            </ul>
            <router-outlet></router-outlet> 

        </div>
    </div>
    
</div>