<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page"
            >Sistema<span class="visually-hidden">(current)</span></a
        >
        <a class="nav-item nav-link" routerLink="holaMundo" >EP.1 Hola Mundo</a>
        <a class="nav-item nav-link" routerLink="formulario" >EP2. Formulario</a>
        <a class="nav-item nav-link" routerLink="lista">Ep3. Lista</a>
        <a class="nav-item nav-link" routerLink="formulario2">EP4. Formulario2</a>
        <a class="nav-item nav-link" routerLink="lista2">EP5. ListaServicio</a>
        <a class="nav-item nav-link" routerLink="rutas">EP6. Rutas</a>
        <a class="nav-item nav-link" routerLink="pipe">EP7. Pipes</a>



    </div>
</nav>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>


