<div class="card">
    <div class="card-header">
      <button class="btn btn-success" [routerLink]="['/lista2/agregar']">Agregar Tarea</button>
    </div>
    <div class="card-body">
      <div *ngIf="tareas.length === 0">
        <h2>¡Ups! Está vacío...</h2>
      </div>
  
      <div *ngIf="tareas.length > 0">
        <h1>Lista de Tareas</h1>
  
        <ul>
          <li *ngFor="let item of tareas; let i = index" 
              [ngClass]="{'task-completed': item.estado, 'task-not-completed': !item.estado}"
              class="task-item">
            <div class="task-details">
              <p>Id: {{item.id}}</p>
              <p>Tarea: {{ item.nombre }}</p>
              <p>Estado: {{ item.estado ? 'Completada' : 'No Completada' }}</p>
            </div>
            <div class="task-actions">
              <button class="btn btn-primary" [routerLink]="['/lista2/editar', item.id]">Editar</button>
              <button class="btn btn-danger" (click)="delete(item.id)">Borrar</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer text-muted">Footer</div>
  </div>
  